body {
    font-family: "Inter", sans-serif;
    background-color: #121826;
    background-image: url("assets/blur-radial.svg");
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title {
    font-size: 1.25rem;
    color: #e5e7eb;
    align-self: center;
}

.first {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.form1 {
    grid-row: span 3;
    display: grid;
    grid-template-columns: 1fr;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    color: #a1a1a9;
    width: fit-content;
}

.input-form1 {
    color: #e5e7eb;
    border: 2px solid #4d5562;
    background-color: #212936;
    border-radius: 1rem;
    padding: 1rem 0.75rem;
}

.input-form1:focus {
    border: 2px solid #e5e7eb;
}

.input-form1:hover {
    border: 2px solid #e5e7eb;
}

.button-container {
    justify-self: center;
}

button {
    border: none;
    color: #e5e7eb;
    background: rgb(101, 44, 209);
    background: linear-gradient(
        0deg,
        rgba(101, 44, 209, 1) 0%,
        rgba(132, 94, 238, 1) 85%
    );
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.2);
}

.steps-container {
    color: #4d5562;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.second {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.form2 {
    width: 100%;
    display: grid;
    align-self: flex-start;
    grid-row: span 3;
    gap: 1rem;
}

.form2-option {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.label-form2:hover {
    cursor: pointer;
}

.input-form2 {
    display: none;
}

.label-form2 {
    width: 200%;
    font-size: 0.875rem;
    color:#A1A1A9;
    background-color: #394150;
    padding: 1rem 0.75rem;
    border: 1px solid #4D5562;
    border-radius: 1rem;
    cursor: pointer;
}

.label-form2:hover {
    background-color: #4D5562;
    color: #E5E7EB;
}

.input-form2:checked + label{
    background-color: #652CD1;
    border: 1px solid #845EEE;
    color: #E5E7EB;
}

.step {
    background-color: #394150;
    padding: 0.375rem;
    border-radius: 50%;
}

.small-text {
    font-size: 0.75rem;
}

.step-active {
    background-color: #652cd1;
    box-shadow: rgba(132, 94, 238, 0.3) 0px 0px 0px 6px;
}

.container {
    background-color: #212936;
    width: 35%;
    height: 60%;
    border-radius: 1rem;
    border: 1px solid #4d5562;
    padding-inline: 3rem;
    display: grid;
}
